.img-thumbnail{
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body{
    padding: 0 25px;
}

.card-footer{
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.card{
    border: none;
    box-shadow: 0px 4px 8px rgb(0 0 0/8%), 0px 12px 18px rgb(0 0 0/8%);
}