<div class="row">
    <div class="col-4">
        <div class="card">
            <img src="{{Member.photoUrl}}" alt="{{Member.knowAs}}" 
            class="card-img-top img-thumbnail"/>
            <div class="card-body">
                <div class="mb-2" *ngIf="(presence.onlineUser$ | async).includes(Member.username)">
                    <i class="fas fa-user-circle text-success"> online now</i>
                </div>
                <div>
                    <strong>Location : </strong>
                    <p>{{Member.city}}, {{Member.country}}</p>
                </div>
                <div>
                    <strong>Age : </strong>
                    <p>{{Member.age}}</p>
                </div>
                <div>
                    <strong>Last Active</strong>
                    <p>{{Member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member Since</strong>
                    <p>{{Member.created | date : "dd MMM yyyy"}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button (click)="selectTab(3)" class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTab>
            <tab heading="about {{Member.knowAs}}" (selectTab)="OnTabActivated($event)">
                <h4>Descritpion</h4>
                <p>{{Member.introduction}}</p>
                <h4>Looking For</h4>
                <p>{{Member.lookingfor}}</p>
            </tab>
            <tab heading="interest" (selectTab)="OnTabActivated($event)">
               <h4>Interest</h4>
               <p>{{Member.interests}}</p>
            </tab>
            <tab heading="Photos" (selectTab)="OnTabActivated($event)">
                <ngx-gallery [options]="GalleryOptions" [images]="GalleryImages" 
                  style="display: inline-block; margin-bottom: 20px;"
                ></ngx-gallery>
             </tab>
             <tab heading="Message" (selectTab)="OnTabActivated($event)">
                <app-member-messages  [username] = "Member.username"></app-member-messages>
             </tab>
        </tabset>
    </div>
</div>



