.dropdown-toggle, .dropdown-menu {
    cursor: pointer;
}

img{
    max-height: 50px;
    border : 2px solid white;
    display: inline-block;
    margin-right: 2px;
}

.navbar {
    box-shadow: 0px 4px 8px rgb(0 0 0/8%), 0px 12px 18px rgb(0 0 0/8%);
  }

  .navbar-nav{
    text-align: center;
  }

  